name: PR Builds x64

on:
  push:
    branches:
        - "**"
    paths-ignore:
        - "**.md"

jobs:
  windows:
    strategy:
      fail-fast: false
    env:
      DXSDK_DIR: "C:\\Program Files (x86)\\Microsoft DirectX SDK (June 2010)\\"
    name: "Windows Dolphin"
    runs-on: windows-2019
    steps:
      - name: "Download Data"
        working-directory: ${{ github.workspace }}
        run: |
          Invoke-WebRequest -Uri https://raw.githubusercontent.com/jlambert360/birdthulu.github.io/master/birdbuild.json -UseBasicParsing -OutFile "birdbuild.json"
          Invoke-WebRequest -Uri https://projectplusgame.com/update.json -UseBasicParsing -OutFile "update.json"

      - name: "Get PPlus Version"
        id: pplus_version
        uses: notiz-dev/github-action-json-property@release
        with:
          path: 'update.json'
          prop_path: 'version'

      - name: "Get Bird Build Version"
        id: birdbuild_version
        uses: notiz-dev/github-action-json-property@release
        with:
          path: 'birdbuild.json'
          prop_path: 'version'

      - name: "Get Bird Build ID"
        id: birdbuild_id
        uses: bluwy/substitute-string-action@v1
        with:
          _input-text: '${{steps.birdbuild_version.outputs.prop}}'
          Beta:

      - name: "Get Bird Build ID Number"
        uses: bhowell2/github-substring-action@v1.0.0
        id: birdbuild_id2
        with:
          value: ${{ steps.birdbuild_id.outputs.result }}
          index_of_str: "Bird Build "

      - name: "Checkout"
        uses: actions/checkout@v2.3.1

      - name: "Remove Redistributable"
        shell: cmd
        run: |
          MsiExec.exe /passive /X{F0C3E5D1-1ADE-321E-8167-68EF0DE699A5}
          MsiExec.exe /passive /X{1D8E6291-B0D5-35EC-8441-6616F567A0F7}
          mkdir .\Tools\DX

      - name: "Setup MSBuild"
        uses: microsoft/setup-msbuild@v1

      - name: "Cache DXSDK_Jun10.exe"
        uses: actions/cache@v2
        with:
          path: ./Tools/DX/
          key: ${{ runner.os }}

      - name: "Download DirectX SDK"
        working-directory: ${{ github.workspace }}
        shell: powershell
        run: |
          if (!(Test-Path ".\Tools\DX\DXSDK_Jun10.exe" -PathType Leaf)) { Invoke-WebRequest -Uri https://github.com/project-slippi/Ishiiruka/releases/download/v2.2.5/DXSDK_Jun10.exe -UseBasicParsing -OutFile ".\Tools\DX\DXSDK_Jun10.exe" }

      - name: "Install DirectX SDK"
        working-directory: ${{ github.workspace }}
        shell: cmd
        run: |
          .\Tools\DX\DXSDK_Jun10.exe /U /F

      - name: "Clone Dolphin"
        shell: cmd
        run: |
          mkdir ${{ github.workspace }}\Binary\x64\
          git clone https://github.com/jlambert360/Ishiiruka
          del ${{ github.workspace }}\Ishiiruka\Installer\Dolphin.ico
          copy /b /v /y ${{ github.workspace }}\Resources\Dolphin.ico ${{ github.workspace }}\Ishiiruka\Installer\

      - name: "Replace IDs"
        working-directory: ${{ github.workspace }}
        shell: powershell
        run: |
          (Get-Content ${{ github.workspace }}\Ishiiruka\Source\Core\UICommon\DiscordPresence.cpp) -replace '622143930900807680', '641740042007740456' | Out-File -encoding ASCII ${{ github.workspace }}\Ishiiruka\Source\Core\UICommon\DiscordPresence.cpp
          (Get-Content ${{ github.workspace }}\Ishiiruka\Source\Core\DolphinWX\Main.cpp) -replace 'https://projectplusgame.com/update.json', 'https://raw.githubusercontent.com/Birdthulu/birdthulu.github.io/master/birdbuild.json' | Out-File -encoding ASCII ${{ github.workspace }}\Ishiiruka\Source\Core\DolphinWX\Main.cpp
          (Get-Content ${{ github.workspace }}\Ishiiruka\Source\Core\Common\Version.cpp) -replace '${{steps.pplus_version.outputs.prop}}', '${{steps.birdbuild_version.outputs.prop}}' | Out-File -encoding ASCII ${{ github.workspace }}\Ishiiruka\Source\Core\Common\Version.cpp

      - name: "Build Dolphin"
        shell: cmd
        run: |
          msbuild /p:Configuration=Release /p:Platform=x64 "${{ github.workspace }}\Ishiiruka\Source\Dolphin.sln"
          copy /b /v /y .\Ishiiruka\Binary\x64\Dolphin.exe ${{ github.workspace }}\Binary\x64\

      - name: "Setup Nuget.exe"
        uses: nuget/setup-nuget@v1
        with:
          nuget-version: '5.x'

      - name: "Build Updater"
        working-directory: ${{ github.workspace }}
        shell: cmd
        run: |
          git clone https://github.com/Birdthulu/FPM-Win-Updater
          cd FPM-Win-Updater
          nuget restore ${{ github.workspace }}\FPM-Win-Updater\DolphinUpdater.sln
          msbuild /p:Configuration=Release /p:Platform="Any CPU" ${{ github.workspace }}\FPM-Win-Updater\DolphinUpdater.sln
          copy /b /v /y .\DolphinUpdater\bin\Release\Updater.exe ${{ github.workspace }}\Binary\x64\

      - name: "Build Replay Manager"
        working-directory: ${{ github.workspace }}
        shell: cmd
        run: |
          git clone https://github.com/Birdthulu/Dolphin-Replay-Manager
          cd Dolphin-Replay-Manager
          msbuild /p:Configuration=Release /p:Platform="Any CPU" "${{ github.workspace }}\Dolphin-Replay-Manager\Bird's Replay Manager.sln"
          copy /b /v /y ".\Bird's Replay Manager\bin\Release\Bird's Replay Manager.exe" ${{ github.workspace }}\Binary\x64\

      - name: "Prepare Artifact"
        working-directory: ${{ github.workspace }}
        shell: cmd
        run: |
          xcopy /E /V /Y /I .\User .\Binary\x64\User
          xcopy /E /V /Y /I .\Sys .\Binary\x64\Sys
          xcopy /E /V /Y /I .\Games .\Binary\x64\Games
          xcopy /E /V /Y /I .\Launcher .\Binary\x64\Launcher
          copy /b /v /y .\Ishiiruka\Changelog.txt .\Binary\x64\
          copy /b /v /y .\license.txt .\Binary\x64\
          copy /b /v /y .\portable.txt .\Binary\x64\
          copy /b /v /y ".\Song List.txt" .\Binary\x64\
          copy /b /v /y .\tags.txt .\Binary\x64\
          copy /b /v /y .\vcruntime140_1.dll .\Binary\x64\

      - name: "Package Artifact"
        working-directory: ${{ github.workspace }}
        run: |
          $FILE_NAME="Bird Build.zip"
          mkdir artifact
          cd .\Binary\x64\
          7z a $FILE_NAME .\*
          move $FILE_NAME ..\..\artifact\

      - name: "Publish"
        if: success()
        uses: actions/upload-artifact@v2-preview
        with:
          name: "Bird Build"
          path: "./artifact/"

      - name: "Create Release"
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: "${{ steps.birdbuild_id2.outputs.substring }}"
          release_name: "${{ steps.birdbuild_version.outputs.prop }}"
          body: "${{steps.birdbuild_version.outputs.prop}}"
          draft: false
          prerelease: false

      - name: Upload Release
        id: upload-release-asset 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: "${{ github.workspace }}/artifact/Bird Build.zip"
          asset_name: "Bird Build.zip"
          asset_content_type: application/zip